<!DOCTYPE html>
<html>
<head>
	<title>Tom Ginader - Graduate Student</title>
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Tom Ginader", {controller: "home", action: "index"}, class: "name" %>
		<nav>
			<%= link_to "Status Updates", {controller: "updates", action: "index"}, 
				class: "nav_bar" %>
			<%= link_to "My Projects", {controller: "projects", action: "index"}, 
				class: "nav_bar" %>
			<%= link_to "Contact Me", {controller: "contact", action: "index"}, 
				class: "nav_bar" %>
		</nav>
	</header>
	<header class="homepage_content">
		<div class="wrapper wrapper_padding clearfix">
			<div class="col-1 about homepage_content">
				<h2>About Me</h2>
				<hr>
				<p>I am a graduate student. This is a <a href="#">link</a>.</p>
			</div>	
			<div class="col-2 homepage_content">
				<h2>Recent Updates</h2>
				<hr>
				<h5 class="update">Update one</h5>
				<p class="date">July 20th, 2016</p>
				<h5 class="update">Update two</h5>
				<p class="date">July 20th, 2016</p>
				<h5 class="update">Update three</h5>				
				<p class="date">July 20th, 2016</p>
			</div>
			<div class="col-3 homepage_content">
				<h2>Recent Projects</h2>
				<hr>
				<h3><a href="#">First project</a></h3>
				<p class="date">July 20th, 2016</p>
				<h3><a href="#">Second project</a></h3>
				<p class="date">July 20th, 2016</p>
				<h3><a href="#">Third project</a></h3>				
				<p class="date">July 20th, 2016</p>
			</div>
		</div>
	</header>
	<footer id="main_footer">
		<hr>
		<p class="copyright">&copy;2016 Tom Ginader</p>
		<nav>
			<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
		</nav>		
	</footer>
</body>
</html>