<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div id="projects_wrapper" class="skinny_wrapper">
                <h1 id="page_title">My Projects</h1>
                <hr>
                <div>
                        <% @projects.each do |project| %>
                                <div class="project">
                                        <p><%= link_to project.title, project %></p>
                                        <p class="date"><%= project.created_at.strftime("%B %d, %Y") %>
                                </div>
                                <%end %>
                </div>
                <%= will_paginate @projects %>
        </div>

</body>
</html>
