<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div id="updates_wrapper" class="skinny_wrapper">
		<h1 id="page_title">Status Updates</h1>
		<hr>
		<div>
			<% @updates.each do |update| %>
				<div class="update">
					<p><%= markdown update.content %></p>
					<p class="date"><%= update.created_at.strftime("%B %d, %Y") %></p>
				</div>
              			<%end %>
		</div>
		<%= will_paginate(@updates)%>
	</div>
</body>
</html>
