<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div id="updates_wrapper" class="skinny_wrapper">
		<h1 id="page_title">Status Updates</h1>
		<hr>
		<div>
			<% @update.each do |update| %>
				<div class="update">
					<p><%= markdown update.content %></p>
					<p class="date"><%= update.created_at.strftime("%B %d, %Y") %></p>
				</div>
			<%end %>
		</div>
		<div class="pagination">
			<span class="previous_page disabled">
			Previous</span>
			<em class="current">1</em>
			<a rel="next" href="#">2</a>
			<a class="next_page" href="#">Next</a>
		</div>
	</div>
</body>
</html>