<!DOCTYPE html>
<html>
<head>
</head>
<body>
<br>
<br>

<div id="updates_wrapper" class="skinny_wrapper">
	<%= @update.content %>
	<br>
	<br>
	<%= button_to "Edit", edit_update_path(@update) %>
	<%= button_to 'Destroy',  update_path(@update),  method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</body>
</html>