@import 'normalize';
@import "font-awesome-sprockets";
@import "font-awesome";
$border: #00cccc;
$dark: #000a1a;
$light: #8A8A8A;

#main_navigation {
	padding: 2em 5%;
	border-bottom: 2px solid $border;
	background-color: $border;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}



h1, h2, h3, h4, h5, h6, p, ul, li {
	color: #000a1a;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.375rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p, li {
	font-size: 1.1rem;
	line-height: 1.75;
}

p, ul, ol {
	margin: 0 0 1.6em 0;
}

body {
	font-family: 'Droid Sans', sans-serif;
	background-color: #F5F3EE;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.skinny_wrapper {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	background-color: white; 
	padding: 0 1em;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper_padding {
	padding: 4rem 0;
}

.update {
	border: 2px solid $border;
	padding: 0 .5em 1.25em .5em;
	margin: .5em auto;
}

.name {
	font-weight: 800;
	font-size: 1.2em;
	border: 2px solid white;
	padding: .5rem;
	text-decoration: none;
	color: white;
	float: left;
	font-family: 'Lobster', cursive;
}

nav {
	float: right;
	padding-top: 1.5rem;
}

.nav_bar {
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	margin: 0 3rem;
	font-size: 1.2rem;
	font-weight: 400;
	font-family: 'Droid Sans', sans-serif;
}

.date {
	font-size: .7rem;
	color: #8A8A8A;
	font-weight: 700;
	margin: 0 .5em 0 .5em;
}

#page_title {
	font-weight: 400;
	text-align: center;
	font-size: 2.5rem;
	padding-top: 1.5em;
}


#main_footer {
	padding: 2.5em 5%;
	hr {
		display: block;
		height: 2px;
		border: 0;
		background-color: $border;
		border-top: 2px soild $border;
		margin: 2rem 0;
	}
	.copyright {
		float: left;
		font-size: .6em;
		margin: 0;	
	}
	nav {
		float: right;
		margin-left: 1em;
		padding-top: .2em;
	}
	.fa {
		color: $dark;
		&:hover {
			color: $border;
		}	
	}
}

input[type="text"], input[type="email"],
input[type="password"], textarea {
	width: 100%;
	max-width: 100%;
	height: 3em;
	border: 2px solid;
	border-radius: 3px;
	border-color: $border;
	padding: 1em;
	margin: .5em 0 2em 0;
}

input[type="text"] {
	max-width: 33%;
	max-height: 1em;
}

textarea {
	min-height: 20em;
}

input[type="submit"], .button {
	outline: none;
	background: transparent;
	background-color: white;
	border-radius: 3px;
	color: $dark;
	border: 2px solid $border;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2em;
	padding: .5em 1.5em;
	&:hover {
		background-color: $border;
		color: white;
	}
}

@import 'home';
@import 'updates';
@import 'projects';
@import 'contact';