.col-1, .col-2, .col-3 {
	float: left;	
}

.col-1 {
	width: 37%;
	padding: 0 5% 0 2.5%;
	padding-bottom: 1em;
	background: white;
	margin: .5em .5em .5em .5em;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-2, .col-3 {
	width: 30%;
	padding: 0 2.5%;
	padding-bottom: 1em;
	background: white;
	margin: .5em .5em .5em .5em;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.homepage_content {
	.about{
		a {
			color: $border;
			font-weight: 550;
			margin: 0;
		}
	}
	hr {
		width: 8em;
		display: block;
		height: 2px;
		border: 0;
		background-color: $border;
		border-top: 2px soild $border;
		margin: 2rem 0;
		margin-bottom: 2.5em;
	}
	h2 {
		font-size: 1.8rem;
		font-weight: 700;
	}
	h3 {
		font-size: 1.35rem;
		font-weight: 500;
		margin-bottom: .1em;
	}
	a{
		color: $dark;
		text-decoration: none;
		margin: 0;
		&:hover {
			color: $border;
		}
	}
	h5 {
		font-size: 1.1rem;
		font-weight: 400;
		margin-bottom: .1em;
	}
	.date {
		font-size: .7rem;
		color: #8A8A8A;
		font-weight: 700;
		margin: 0 .5em 0 .5em;
	}
	p {
		margin: 0 0 .75em 0;
	}
}